@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


.lexend-deca-class {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "Lexend Deca", sans-serif;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 10px;
    border: 5px none #ffffff;
  }

  .navblur {
    backdrop-filter: blur(12px);
  }

  .clinical-bg {
      background-image: url(../public/assets/clinical_background.png);
  }

  .pricing-bg {
    background-image: url(../public/assets/pricing_background.png);
  }

  .shadow-custom {
    box-shadow: -20px 20px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
  }

  .shadow-custom2 {
    box-shadow: 20px 20px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
  }
