@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

.lexend-deca-class {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "Lexend Deca", sans-serif;
  background-color: rgb(47, 47, 47);
}

body {
  background-color: white;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(47, 47, 47);
}

div::-webkit-scrollbar-track {
  background-color: rgba(156, 150, 150, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
}

.navblur {
  backdrop-filter: blur(12px);
}

.clinical-bg {
  background-image: url(../public/assets/clinical_background_w.webp);
}

.pricing-bg {
  background-position: 50% 75%;
  background-image: url(../public/assets/pricing_background_w.webp);
}

.fade-bg {
  background-image: url(../public/assets/bg_fade_w.webp);
  background-position: 0,0 ;
}

.faq-bg {
  background-position: 40% 30%;
  background-image: url(../public/assets/faq_bg.png);
}

.shadow-custom {
  box-shadow: -20px 20px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.shadow-custom2 {
  box-shadow: 20px 20px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

@media (max-width: 640px) {
  .shadow-custom {
    box-shadow: 0px 30px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
  }
  .shadow-custom2 {
    box-shadow: 0px 30px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #f9a8d4 0%,
    #fff3ff 51%,
    #ff6eaa 100%
  );
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}

.btn-grad2 {
  background-image: linear-gradient(
    to right,
    #93c5fd 0%,
    #f3f9ff 51%,
    #6eb2ff 100%
  );
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}

.btn-grad3 {
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #f3f9ff 51%,
    #b432ff 100%
  );
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
}
a:hover,
.glow {
  color: #fff3ff;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

a:focus {
  outline:0;
}
